<div id="accordion">
    
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Documentos subidos
        </button>
      </h5>
    </div>
    
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      
          <table class="table table-hover table-stripped" id="documentos-list" *ngIf="documentos && documentos.length >= 1" >
              <tr>
                  <th>Descripción</th>
                  <th>Tipo</th>
                  <th>Fecha</th>                  
              </tr>

              <tr *ngFor="let documento of documentos" class="documento-item">
                  <td>						                      
                      {{documento.descripcion}}                      
                  </td>
                  <td>                      
                      {{documento.tipo}}                      
                  </td>
                  <td>                      
                      {{documento.fechahora.timestamp | generateDate}}                      
                  </td>                                      
              </tr>
              
          </table>

        <div class="col-md-12" *ngIf="loading != 'show' && !documentos">
            <div class="clearfix"></div>
            <div class="alert alert-warning">
                No se han encontrado documentos
            </div>
        </div>

        <ul class="pagination" *ngIf="documentos && documentos.length >= 1">
          <li>            
            <a aria-label="Previous" (click)="mostrarTodosDocumentos(pagePrevDoc)">  
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li *ngFor="let pagedoc of pagesdoc">              
            <a (click)="mostrarTodosDocumentos(pagedoc+1)">{{pagedoc+1}} </a>
          </li>

          <li>            
            <a aria-label="Next" (click)="mostrarTodosDocumentos(pageNextDoc)">  
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>         

      </div>
    </div>

  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Modelos descargados
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-hover table-stripped" id="models-list" *ngIf="descargas && descargas.length >= 1" >
          <tr>
            <th>Usuario</th>
            <th>Modelo</th>
            <th>Fecha</th>
          </tr>

          <tr *ngFor="let descarga of descargas" class="descargas-item">
            <td>						
                {{descarga.usuario}}                        
            </td>
            <td>						                        
                {{descarga.modelo}}                        
            </td>
            <td>						                        
                {{descarga.fechahora.timestamp | generateDate}}
            </td>            
          </tr>         
        </table>

        <div class="col-md-12" *ngIf="loading != 'show' && !descargas">
          <div class="clearfix"></div>
          <div class="alert alert-warning">
            No se han encontrado descargas
          </div>
        </div>

        <ul class="pagination" *ngIf="descargas && descargas.length >= 1">
          <li>
            <a aria-label="Previous" (click)="mostrarTodasDescargas(pagePrevDes)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li *ngFor="let pagedes of pagesdes">  
            <a (click)="mostrarTodasDescargas(pagedes+1)">{{pagedes+1}} </a>
          </li>

          <li>
            <a aria-label="Next" (click)="mostrarTodasDescargas(pageNextDes)">  
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>    
    </div>

  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Sesiones
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
    
        <table class="table table-hover table-stripped" id="sesiones-list" *ngIf="sesiones && sesiones.length >= 1" >
          <tr>
            <th>Id</th>
            <th>Inicio</th>
            <th>Fin</th>                    
          </tr>

          <tr *ngFor="let sesion of sesiones" class="sesion-item">
            <td>						              
              {{sesion.id}}              
            </td>
            <td>              
              {{sesion.inicio.timestamp | generateDate}}
            </td>
            <td>              
              {{sesion.fin.timestamp | generateDate}}              
            </td>                                      
          </tr>
            
        </table>

        <div class="col-md-12" *ngIf="loading != 'show' && !sesiones">
            <div class="clearfix"></div>
            <div class="alert alert-warning">
                No se han encontrado sesiones
            </div>
        </div>

        <ul class="pagination" *ngIf="sesiones && sesiones.length >= 1">
          <li>
            <a aria-label="Previous" (click)="mostrarTodasSesiones(pagePrevses)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li *ngFor="let pageses of pagesses">  
            <a (click)="mostrarTodasSesiones(pageses+1)">{{pageses+1}} </a>
          </li>

          <li>
            <a aria-label="Next" (click)="mostrarTodasSesiones(pageNextses)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>         

      </div>
    </div>
  </div>

  </div>