<div id="accordion">    
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Documentos subidos
        </button>
      </h5>
    </div>
      
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      
        <div class="loader" *ngIf="loading1 == 'show'">
          <img src="assets/img/loader.gif" />
        </div>
        
        <table class="table table-hover table-stripped" [mfData]="documentos" #mf="mfDataTable" id="documentos-list" *ngIf="documentos && documentos.length >= 1" [mfRowsOnPage]="rowsOnPage">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Tipo</th>
              <th>Fecha</th>                  
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let documento of mf.data" class="documento-item">
              <td>						                      
                  {{documento.descripcion}}
              </td>
              <td>                      
                  {{documento.tipo}}
              </td>
              <td>                      
                  {{documento.fechahora.timestamp | generateDate}}
              </td>                                      
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot> 
          
        </table>

        <div class="col-md-12" *ngIf="loading1 != 'show' && !documentos">
          <div class="clearfix"></div>
          <div class="alert alert-warning">
            No se han encontrado documentos
          </div>
        </div>   

      </div>
    </div>

  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Modelos descargados
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="loader" *ngIf="loading2 == 'show'">
          <img src="assets/img/loader.gif" />
        </div>

        <table class="table table-hover table-stripped" [mfData]="descargas" #mf="mfDataTable" id="descarga-list" *ngIf="descargas && descargas.length >= 1" [mfRowsOnPage]="rowsOnPage">

          <thead>
            <tr>            
              <th>Modelo</th>
              <th>Codigo</th>
              <th>Ejercicio</th>
              <th>Trimestre</th>
              <th>Tipo</th>            
              <th>Fecha</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let descarga of mf.data" class="descargas-item">
              <td>						
                  {{descarga.descripcion}}                        
              </td>
              <td>						
                  {{descarga.codigo}}                        
              </td>            
              <td>						                        
                  {{descarga.ejercicio}}                        
              </td>
              <td>						                        
                  {{descarga.trimestre}}                        
              </td>            
              <td>						                        
                  {{descarga.tipo}}                        
              </td>            
              <td>						                        
                  {{descarga.fechahora.timestamp | generateDate}}
              </td>            
            </tr>  
          </tbody>         

          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>

        </table>

        <div class="col-md-12" *ngIf="loading2 != 'show' && !descargas">
          <div class="clearfix"></div>
          <div class="alert alert-warning">
            No se han encontrado descargas
          </div>
        </div>
      </div>    
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Sesiones
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="loader" *ngIf="loading3 == 'show'">
            <img src="assets/img/loader.gif" />
        </div>
    
        <table class="table table-hover table-stripped" [mfData]="sesiones" #mf="mfDataTable" id="sesiones-list" *ngIf="sesiones && sesiones.length >= 1" [mfRowsOnPage]="rowsOnPage">
          <thead>
            <tr>
              <th>Id</th>
              <th>Inicio</th>
              <th>Fin</th>                    
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let sesion of mf.data" class="sesion-item">
              <td>						              
                {{sesion.id}}              
              </td>
              <td>              
                {{sesion.inicio.timestamp | generateDate}}
              </td>
              <td>              
                {{sesion.fin.timestamp | generateDate}}              
              </td>                                      
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
            
        </table>

        <div class="col-md-12" *ngIf="loading3 != 'show' && !sesiones">
            <div class="clearfix"></div>
            <div class="alert alert-warning">
                No se han encontrado sesiones
            </div>
        </div>

      </div>
    </div>
  </div>

</div>