<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        Inicia sesión para acceder a más opciones
    </div>

    <div class="card bg-light" *ngIf="!clienteE">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Busqueda
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <p> 			
                <label>Introduzca los terminos de búsqueda</label>
                <input class="form-control" [(ngModel)]="filterQuery"/>
              </p>  
          </div>
        </div>
    </div>

    <div class="col-md-12" *ngIf="identity && identity.sub">
        <div class="col-md-12" *ngIf="clienteE">
            <p> 
                <th>Id: </th>                 
                <td> {{clienteE.id}} </td>                 
            </p>

            <p>
                <th>Nombre: </th> 
                <td> {{clienteE.nombre}} </td>                 
            </p>

            <p>
                <th>Email: </th> 
                <td> {{clienteE.email}} </td>                 
            </p>                

            <p>
                <td><button type="button" class="btn btn-primary" (click)="anular()">Anular</button></td> 
            </p>
        </div>

        <div class="all-clientes">
            <div class="loader" *ngIf="loading == 'show'">
                <img src="assets/img/loader.gif" />
            </div>

            <table 
                class="table table-hover table-stripped" 
                [mfData]="clientes | dataFilter:filterQuery" 
                #mf="mfDataTable" id="clientes-list" 
                *ngIf="clientes && clientes.length >= 1 && !clienteE" 
                [mfRowsOnPage]="rowsOnPage">

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th></th>                        
                </tr>

                <!--<tr>
                    <div class="card bg-light" *ngIf="!clienteE">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Busqueda
                            </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <p> 			
                                <label>Introduzca los terminos de búsqueda</label>
                                <input class="form-control" [(ngModel)]="filterQuery"/>
                                </p>  
                            </div>
                        </div>  
                    </div>
                           
                </tr>-->
                <!--<tr>
                    <th colspan="5">
                      Filter by name:
                      <input class="form-control" [(ngModel)]="filterQuery"/>
                    </th>
                </tr>-->

                </thead>

                <tbody>
                <tr *ngFor="let cliente of mf.data" class="cliente-item">
                    <td>						                            
                        {{cliente.id}}                            
                    </td>
                    <td>						                            
                        {{cliente.nombre}}                            
                    </td>
                    <td>                            
                        {{cliente.email}}                            
                    </td>    
                    <td>						                            
                        <button type="button" class="btn btn-primary" (click)="seleccionar(cliente)">Seleccionar</button>                            
                    </td>                                                                                    
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="4">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
                
            </table>

            <div class="col-md-12" *ngIf="loading != 'show' && !clientes">
                <div class="clearfix"></div>
                <div class="alert alert-warning">
                    No se han encontrado clientes
                </div>
            </div>  
            
            <!-- <div>
                <a [routerLink]="['/cliente-new']" *ngIf="identity && identity.sub" class="btn btn-primary">                    
                    Añadir cliente
                    </a>
            </div> -->
            

        </div>
    </div>
</div>