<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        Inicia sesión para acceder a más opciones
    </div>

    <div class="col-md-12" *ngIf="identity && identity.sub">

        <div class="all-mensajes">
            <div class="loader" *ngIf="loading == 'show'">
                <img src="assets/img/loader.gif" />
            </div>

            <table class="table table-hover table-stripped" [mfData]="mensajes" #mf="mfDataTable" id="mensajes-list" *ngIf="mensajes && mensajes.length >= 1" [mfRowsOnPage]="rowsOnPage">
                <thead>
                <tr>
                    <th>Emisor</th>
                    <th>Receptor</th>
                    <th>Texto</th>
                    <th>Fecha</th>
                    <th>Visto</th>                                        
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let mensaje of mf.data" class="mensajes-item">
                    <td>
                        {{mensaje.emisor}}
                    </td>
                    <td>
                        {{mensaje.receptor}}
                    </td>
                    <td>						                        
                        {{mensaje.texto}}                        
                    </td> 
                    <td>						                        
                        {{mensaje.fechahora.timestamp | generateDate}}                        
                    </td>
                    <td>						                        
                        <input type="checkbox" name="visto" [ngModel]="mensaje.visto" (change)="cambiarVisto(mensaje.id,mensaje.visto)"/>
                    </td>
                                                         
                </tr>
                </tbody>   

                <tfoot>
                <tr>
                    <td colspan="4">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>                 
                
            </table>

            <div class="col-md-12" *ngIf="loading != 'show' && !mensajes">
                <div class="clearfix"></div>
                <div class="alert alert-warning">
                    No se han encontrado mensajes
                </div>
            </div> 
        </div>
    </div>
</div>
