<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        Inicia sesión para acceder a más opciones
    </div>

    <div class="col-md-12" *ngIf="identity && identity.sub">

        <div class="all-mensajes">
            <div class="loader" *ngIf="loading == 'show'">
                <img src="assets/img/loader.gif" />
            </div>

            <table class="table table-stripped" [mfData]="mensajes" #mf="mfDataTable" id="documentos-list" *ngIf="mensajes && mensajes.length >= 1" [mfRowsOnPage]="rowsOnPage">
                <thead>
                <tr>
                    <th><mfDefaultSorter by="emisor">Emisor</mfDefaultSorter></th>                    
                    <th>Texto</th>
                    <th><mfDefaultSorter by="fechahora.timestamp">Fecha</mfDefaultSorter></th>
                    <th>Leido</th>
                    <th> </th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let mensaje of mf.data" class="mensajes-item">
                    <td>{{mensaje.emisor}}</td>                    
                    <td>{{mensaje.texto}}</td>
                    <td>{{mensaje.fechahora.timestamp | generateDate}}</td>               
                    <td>						                        
                        <input type="checkbox" name="visto" [ngModel]="mensaje.visto" (change)="cambiarVisto(mensaje.id,mensaje.visto)"/> 
                    </td>                          
                    <td>
                        <button type="button" class="btn btn-primary" (click)="responder(mensaje.id, mensaje.idem)"> Contestar </button>
                    </td>                     
                </tr>


                </tbody>                               

                <tfoot>
                <tr>
                    <td colspan="4">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>                
            </table>

            <div class="col-md-12" *ngIf="!loading || contestamensaje">                                
                <div class="alert alert-success" *ngIf="status_mensaje == 'success'">
                    El mensaje se ha creado correctamente		
                </div>                    
                <div class="alert alert-danger" *ngIf="status_mensaje == 'error'" >
                    ¡El mensaje NO se ha creado!
                </div>
        
                <form #mensajeNewForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding"> 
                    <p> 
                        <label>Mensaje</label>
                        <input type="text" class="form-control" name="mensajetexto" #mensajetexto="ngModel" [(ngModel)]="mensaje.texto" required />
                        <span *ngIf="!mensajetexto.valid && mensajetexto.touched">El mensaje no es correcto</span>
                    </p>	        			
        
                    <input type="submit" value="Enviar mensaje" class="btn btn-primary" [disabled]="!mensajeNewForm.form.valid" />
                </form>            
            </div>            

            <div class="col-md-12" *ngIf="loading != 'show' && !mensajes">
                <div class="clearfix"></div>
                <div class="alert alert-warning">
                    No se han encontrado nuevos mensajes
                </div>
            </div>

        </div>
    </div>
</div>
